Package: smartboard-dbgsym
Source: smartboard
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 123
Depends: smartboard (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for smartboard
Build-Ids: d7c63223b227d97ccd41ee0c85a1177586567870
