Package: smartboard-dbgsym
Source: smartboard
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 4567
Depends: smartboard (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for smartboard
Build-Ids: 1e7a23647f4fd2d1e4cd4f055441817853f8565a
