Package: smartboard-dbgsym
Source: smartboard
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 4713
Depends: smartboard (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for smartboard
Build-Ids: 66740ebe17c219a54c7c2ca115f781c1156f11df
